<ul class="menu show-for-medium-only" style="display: flex; justify-content: center;">
    <li><a class="padding-bottom-0 padding-left-0" href="#">Login</a></li>
    <li><a class="padding-bottom-0" href="#">
            <i class="fi-shopping-cart">Cart</i>
    </a></li>
</ul>
<div class="show-for-medium">
    <hr>
    <div class="input-group">
        <input class="input-group-field small search" type="text" placeholder="Search..">
        <div class="input-group-button">
            <input type="submit" class="button secondary small text-uppercase" value="Go!">
        </div>
    </div>
</div>